.head {
   margin-top: -10px;
   border: 5px solid black;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: floralwhite;
   height: 80px;
}

.upper-header-icons {
    float: right;
    margin-top: 15px;
}

.header-right {
    float: right;
    margin-top: 5px;
    border: 1px solid black;
}

.lower-header-icons {
    border: 1px solid black;
    float: right;
    margin-top: 35px;
    margin-left: 14px;
}

.capture-details {
    border: 1px solid black;
    margin-top: 61px;
    font-size: 15px;
    float: right;
}

.account-opening, 
.help-icon,
.stop-icon,
.facebook,
.tweeter {
    width: 20px;
}

.main-block {
    align-items: center;
    background-color: aquamarine;
}

.footer-up {
    display: flex;
    position: relative;
    margin-top: 100px;

}

.footer-down {
    background-color: darkgreen;
}

.icons {
    border: 1px solid black;
}

.header-middle {
   display: inline;
}
