
/*
     FILE ARCHIVED ON 00:43:03 Mar 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:17:37 Dec 20, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 246.801
  captures_list: 415.607
  LoadShardBlock: 117.675 (3)
  esindex: 0.016
  exclusion.robots: 0.204
  exclusion.robots.policy: 0.19
  load_resource: 1008.48
  PetaboxLoader3.resolve: 949.882 (2)
  CDXLines.iter: 21.348 (3)
  PetaboxLoader3.datanode: 80.526 (5)
*/